.header {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507);

    .wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        align-items: center;

        button {
            background-color: inherit;
            border: none;
            outline: none;
            color: inherit;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 5px;
            align-items: center;
            cursor: pointer;
        }
    }

    @media (width < 30.714em) {
        h1 {
            font-size: .95rem;
        }
        
    }
}